* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: blue;
	text-align: center;
	border-bottom: 3px solid blue;
	background-color: brown;
	margin-bottom: 10px;
}

p {
	font-size: 20px;
}

p, h2 {
	margin-left: 10px;
	color: white;
}

section {
	text-align: center;
	background-color: crimson;
	padding: 20px 20px;
	margin-top: 20px;
	border: 3px solid green;
	max-width: 600px;
	margin: 20px auto;
}

#s1 {
}

#s2 {
}

section img {
	width: 100%;
	max-width: 600px;
}

body {
	background-color: lightpink;
}

footer {
	color: lightpink;
	padding: 2px;
	background-color: crimson;
}