* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

    font-family: Newsreader;
}

@font-face {
	font-family: Anton;
	src: url("../fonts/Anton.ttf");
}

@font-face {
	font-family: Newsreader;
	src: url("../fonts/Newsreader.ttf");
}

header {
	border-bottom: 3px solid sandybrown;
	background-color: saddlebrown;
	margin-bottom: 10px;
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
}

header a {
	float: left;
	height: 45px;
	position: relative;
	bottom: 4px;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
}

header a img {
	height: 100%;
	rotate: 90deg;
}

h1 {
	color: sandybrown;
	text-align: center;
	font-family: Anton;
	letter-spacing: 2px;
}

p, a {
	font-size: 20px;
}

a:hover {
	color: yellow;
}

h2 {
	letter-spacing: 0.8px;
}

p {
	letter-spacing: -0.3px;
}

section {
	text-align: center;
	background-color: peru;
	padding: 20px 20px;
	margin-top: 20px;
	border: 4px solid green;
	max-width: 600px;
	margin: 20px auto;
	color: lemonchiffon;
	overflow-wrap: break-word;
}

section p {
    white-space: pre-wrap;
    margin: 10px 0;
}

section img {
	width: 100%;
	max-width: 600px;
	margin: 20px 0;
}

body {
	background-color: khaki;
	background-image: url("../media/bg.png");
	background-repeat: repeat-both;
	background-size: 600px;
}

.bg {
	background-color: lemonchiffon;
}

footer {
	height: 29px;
	padding-left: 10px;
    width: 100%;
	color: sandybrown;
	border-top: 3px solid sandybrown;
	background-color: saddlebrown;
}
