{% extends "base.html" %}
{% block title %} Forum! {% endblock %}
{% block head_ext %}
<script src="static/scripts/forum.js" onload="init()"></script>
<link rel="stylesheet" href="static/style/forum.css">
{% endblock %}
{% block content %}

<header>
<a href="https://kaffe.kattmys.se/"><img src="static/media/back.png"></a>
<h1>KAFFEFORUM!</h1>
</header>

<button id="formularknapp" class="knapp" onclick="clicked()">Skapa inlägg</button>

<br>

<form method="post" id="mainformular" class="formular" action="/forum/submit">
  <label for="rubrik">Rubrik</label><br>
  <input type="text" id="rubrik" name="rubrik" required maxlength="60"><br>
  <label for="text">Innehåll</label><br>
  <textarea cols=40 rows=5 name="text" required maxlength="1200" spellcheck="false"></textarea><br><br>
  <label for="namn">Namn</label><br>
  <input type="text" id="namn" name="namn" required maxlength="60"><br>
  <input type="submit" value="Skicka" id="skickaknapp" class="knapp">
</form>

{% for inlägg in data[::-1] %}
<section id="post-{{ inlägg.id }}">
<h2>{{ inlägg.rubrik }}</h2>
<p>{{ inlägg.text }}</p>
<p class="namnfarg">/{{ inlägg.namn }}</p>
<p class="klartid">{{ inlägg.klartid }}</p>
</section>
{% endfor %}
{% endblock %}
