{% extends "base.html" %}
{% block title %} Kaffe! {% endblock %}
{% block head_ext %}
<script src="static/scripts/index.js"></script>
<link rel="stylesheet" href="static/style/index.css">
{% endblock %}
{% block content %}

<header>
<h1>Kaffe! Snabbt✓ Nyttigt✓ Gott✓</h1>
</header>

<section id="s1">
<h2>Pressbyråknep!</h2>
<p>Get your cup now!</p>
<img src="static/media/pressbyran-butik.jpg" alt="Bild på butiken Pressbyrån.">
<a href="https://discord.gg/K559bSA9">Gå med i Discord-kanal</a>
</section>

<section id="s2">
<h2>Bästa kaffet just nu?</h2>
<p>Kaffepress givetvis.</p>
<img src="static/media/kaffepress.jpg" alt="Bild på en kaffepress.">
<p>Filtret i en kaffepress är inte lika finmaskigt som i ett ordinarie så kaffet beåller mer av sin smak och sina eteriska oljor.</p>
<a href="http://kaffe.kattmys.se/kaffepress">Läs mer här</a>
</section>

<section id="s3">
<h2>Vilket är ditt favoritkaffe?</h2>
<p>Har du nåt favoritställe eller kaffesort, metod eller nåt annat du vill dela med dig om angående kaffe så kan du göra ett inlägg här:</p>
<a href="http://kaffe.kattmys.se/forum">Forum</a>
</section>

<section id="s4">
<img src="static/media/animatedcoffeeduck.png" alt="Animerad anka som dricker kaffe framför datan.">
</section>

<section id="s5">
<div class="bg">
<img class="rot" src="static/media/java.png" alt="Snurrande Oracle Java-logga." onload="rotate()">
</div>
</section>

<section id="s6">
<h2>All forumets data är raderad.</h2>
<p>Undra vems fel det var...</p>
<img src="static/media/cryingduckinbathtub.png" alt="Gråtande anka i badkar.">
</section>
{% endblock %}