{% extends "base.html" %}
{% block title %} Kaffepress! {% endblock %}
{% block head_ext %}
<script src="static/scripts/index.js"></script>
<link rel="stylesheet" href="static/style/index.css">
{% endblock %}
{% block content %}

<header>
<a href="http://kaffe.kattmys.se/"><img src="static/media/back.png"></a>
<h1>Kaffe! Snabbt✓ Nyttigt✓ Gott✓</h1>
</header>

<section id="s1">
<h2>Kaffepress!</h2>
<p>Hur blir kaffet i en kaffepress så bra?</p>
<img src="static/media/kaffepress2.jpg" alt="Bild på butiken Pressbyrån.">
<p>I en pressobryggare (även kallad kaffepress) tillreds kaffe genom att antingen ett speciellt grovmalet kaffe ofta marknadsfört under namn som bistro- eller pressokaffe, eller ett vanligt bryggkaffe placeras i botten på kannan varefter hett vatten (92-96 °C) tillsätts. Kaffet rörs om innan locket placeras på kannan med filtret vilande ovanpå kaffeblandningen. Detta får dra i tre till fem minuter sedan pressas filtret långsamt ned genom kaffet så att sumpen samlas i botten av kannan under filtret. Kaffet är nu färdigt att serveras direkt ur kannan.

Eftersom filtret i en pressobryggare inte är lika finmaskigt som ett vanligt kaffefilter behåller kaffet mer av sin smak och av sina eteriska oljor.</p>
</section>

{% endblock %}
